html {
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    font-family: "Alegreya Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    height: 100%
}

a {
    text-decoration: none;
    color: #32006e;
    font-weight: 400
}

a:hover {
    text-decoration: underline
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3)
}

#author-name {
    font-size: 30px;
    color: #272727;
    display: inline-block;
    font-weight: 500
}

.navbar {
    padding: 50px 0 50px 0
}

.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px
}

.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px
}

.alignable,.pull-left,.pull-right {
    display: inline-block
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.container {
    max-width: 700px;
    margin: auto
}

.wrapper {
    min-height: 100%
}

#ins-logo {
    margin: auto;
    display: block;
    max-height: 50px;
    text-align: center
}

@media (max-width: 800px) {
    .container {
        max-width:600px;
        transition: 0.3s ease all
    }
}

@media (max-width: 650px) {
    .container {
        max-width:83%
    }

    .navbar-ul {
        margin-top: 5px
    }
}

@media (max-width: 500px) {
    .navbar {
        text-align:center;
        padding: 50px 0px 0px 0px
    }

    #author-name {
        width: 100%;
        float: none
    }

    #navlist {
        padding: 10px 0 10px 0;
        margin: 0;
        display: block;
        float: none;
        text-align: center;
        width: 100%
    }

    #navlist li.alignable,#navlist li.pull-left,#navlist li.pull-right {
        display: inline-block
    }

    #navlist li.pull-left {
        float: none
    }

    #navlist li.nav-list {
        margin: 0
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px
}

.social-icons a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s
}

.social-icons a:hover {
    color: #32006e
}

.fab.fa-twitter {
    font-family: sans-serif
}

.fab.fa-twitter::before {
    content: "ð•";
    font-size: 1.2em
}

.content a:hover {
    text-decoration: underline
}

.content ol {
    counter-reset: list
}

.content ol>li {
    list-style-position: none;
    position: relative;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px
}

.content ul>li {
    margin: 5px 0 5px 0
}

.content ul {
    padding: 0 20px 0 20px
}

.content ol {
    padding: 0 30px 0 30px
}

.content ol>li:before {
    content: "[" counter(list,decimal) "] ";
    counter-increment: list;
    position: absolute;
    left: -30px
}

.content blockquote {
    border-left: 5px solid #333333;
    margin: 20px 0 20px 0;
    padding: 2px 8px 2px 8px;
    font-style: italic
}

.content .profile-picture {
    height: 180px;
    width: 180px;
    position: relative;
    margin: -10px 0 0 15px;
    float: right;
    border-radius: 50%;
    object-fit: contain
}

p .content .profile-picture {
    padding: 0;
    margin: 0
}

@media (max-width: 480px) {
    .content .profile-picture img {
        margin-top:-5px
    }
}

.content img {
    text-align: center;
    width: 100%
}

table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0
}

table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0
}

table tr:nth-child(2n) {
    background-color: #f8f8f8
}

table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px
}

table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px
}

table tr th :first-child,table tr td :first-child {
    margin: 0
}

table tr th :last-child,table tr td :last-child {
    margin: 0
}

.publications {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none
}

.publication {
    margin-bottom: 20px;
    padding: 0;
    border: none
}

.publication h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 0.9 em
}

.publication p {
    margin: 2px;
    font-size: 0.9em
}

.publication a {
    text-decoration: none;
    color: #32006e
}

.publication a:hover {
    text-decoration: underline
}

.btn {
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 2px 8px;
    font-size: 0.7em;
    color: #007acc;
    text-decoration: none;
    border: 1px solid #007acc;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s
}

.btn:hover {
    background-color: #007acc;
    color: #fff
}

.btn-outline-primary {
    color: #007acc;
    border-color: #007acc
}

.btn-outline-primary:hover {
    background-color: #007acc;
    color: #fff
}
