.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.noter {
    font-size: 9pt;
}

.noter_v2 {
  font-size: 10.5pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink:hover {
    color: green;
}


.arrow {
  transition: transform 0.3s;
}

.hidden {
  display: none;
}


.cv-link {
  color: #B51E21;
}

.google-scholar-link {
  color: #B51E21;
}

.email-link {
  color: #B51E21;
}

.github-link {
  color: #B51E21;
}

.linkedin-link {
  color: #B51E21;
}

.twitter-link {
  color: #B51E21;
}

.paper-link {
  color: #B51E21;
}

.grey-bar {
  position: relative; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #B51E21;
  color: white;
  padding: 4px 1px;
  z-index: 999; 
}

.profilepic {
  width: 200px;
  border-radius: 25%;
}

@media (min-width: 768px) {
    .fixed-posi {
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 100px;
        border-radius: 25%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .menur {
        padding-top: 18px !important;
    }
}

.thisauthor {
  color: #111;
  text-decoration: underline !important;
  font-weight: bold !important; /* This will make the text bold */
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  color: #fff; /* white color */
  background-color: #FFD700; /* gold background */
}